/* --------------------------------------- */
/* post */
.post-content .title {
	max-width: 700px;
	overflow: break-word;
	margin: 0 auto 1rem;
	text-align: center;
}

.post-content .title h1 {
	line-height: 1;
}

.scroll-progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #f5f5f5;
	z-index: 9999;
}

.post-stats {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.post-stats p {
	margin: 0 auto;
}

.icon-spacer {
	padding-left: 1rem;
}

.icon-spacer-margin {
	margin-left: 1rem;
}

.post-tags {
	scale: 0.6;
}

/* ------------------ */
/* wrapper */
.md-wrapper {
	position: relative;
}

.md-wrapper .wrap-stats {
	position: absolute;
	top: 0;
	right: 0;
}

.md-wrapper .wrap-stats .stats {
	position: fixed;
	margin-top: -29rem;
}

.md-wrapper .wrap-progress {
	position: absolute;
	top: 0;
	left: 0;
}

.md-wrapper .wrap-progress .wrapper {
	margin-left: -3rem;
}

.md-wrapper .wrap-progress .wrapper .progress-bar {
	position: fixed;
	margin-top: -22rem;
	margin-right: 10rem;
	width: 2px;
	height: 500px;
	background: #ccc;
}

.md-wrapper .wrap-progress .wrapper .progress-bar .progress {
	max-height: 500px;
	height: 0%;
	width: 2px;
	background: #464692;
}

.hover-effect {
	transition: all 0.1s ease-out !important;
}

.hover-effect:hover {
	transform: scale(1.1) !important;
}

.stats-item span,
.stats-item button .inline {
	background-position: center;
	transition: background 0.8s;
	border-radius: 2px;
	padding: 2px;
	font-size: larger;
}

.stats-item span:active,
.stats-item button .inline:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

/* ------------------ */
/* markdown */
.markdownBody {
	max-width: 700px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0 2rem;
}

.no-border {
	border: none !important;
}

.no-pad {
	padding: 0 !important;
}

/* ------------------ */
/* header anchor */
.markdownBody .heading {
	color: #111;
}

.markdownBody h1 span a.heading {
	font-size: 36px;
}

.markdownBody .anchor-link {
	font-size: inherit;
}

.markdownBody .anchor-link.bot-dark {
	border-bottom: 1px solid #ffff40;
}

.markdownBody .anchor-link.bot-light {
	border-bottom: 1px solid #2a2139;
}

.markdownBody .anchor-link a {
	color: inherit;
}

.markdownBody .anchor-link:hover:before {
	position: absolute;
	content: "#";
	padding-top: 2px;
	margin-left: -20px;
}

/* ------------------ */
/* link in text */
.markdownBody p a,
.markdownBody li a {
	color: #4798f0;
	text-decoration: none;
}

.markdownBody p a:hover,
.markdownBody li a:hover {
	text-decoration: underline;
}

/* ------------------ */
/* p and stuff */
.markdownBody p,
.markdownBody p a,
.markdownBody li {
	font-size: 18.5px;
}

.markdownBody p,
.markdownBody li {
	text-align: justify;
	text-justify: inter-word;
}

.markdownBody .text-light {
	color: #CCCCCC !important;
}

.markdownBody .text-dark {
	color: #464646 !important;
}

/* ------------------ */
/* 1 tick code */
.markdownBody p code {
	font-weight: 500;
	border-spacing: 10px;
	position: relative;
	padding: .25rem;
	border: 1px solid #cacfd6;
	border-radius: 0.25rem;
}

.markdownBody p code.text-light {
	color: yellow !important;
}

.markdownBody p code.text-dark {
	color: rgb(214, 51, 132) !important;
}


/* ------------------ */
/* 3 tick code */
.markdownBody .codeblock-wrapper {
	position: relative;
	background-color: #2a2139;
}

.markdownBody .btn-copy {
	padding: 5px 10px;
}

.markdownBody .btn-lang {
	padding: 4px 8px;
}

.markdownBody .lang-name {
	position: absolute;
	left: 15px;
	top: -2px;
}

.markdownBody .copy-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

/* animation */
@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

/* media queries */
@media (max-width: 945px) {
	.md-wrapper .wrap-stats .stats {
		display: none !important;
	}
}

@media (max-width: 900px) {
	.markdownBody {
		border: none;
		padding: 0
	}
}