/* --------------------------------------- */
/* markdown */
.markdownBody {
	max-width: 700px;
}

/* ------------------ */
/* header anchor */
.markdownBody .anchor-link {
	font-size: inherit;
}

.markdownBody .anchor-link.bot-dark {
	border-bottom: 1px solid #ffff40;
}

.markdownBody .anchor-link.bot-light {
	border-bottom: 1px solid #2a2139;
}

.markdownBody .anchor-link a {
	color: inherit;
}

.markdownBody .anchor-link:hover:after {
	position: absolute;
	content: "#";
	padding-top: 7px;
	padding-left: 3px;
}

/* ------------------ */
/* p and stuff */
.markdownBody p,
.markdownBody a,
.markdownBody li {
	font-size: larger;
}

.markdownBody p,
.markdownBody li {
	text-align: justify;
	text-justify: inter-word;
}

.markdownBody .text-light {
	color: #CCCCCC !important;
}

.markdownBody .text-dark {
	color: #2a2b2c !important;
}

/* ------------------ */
/* 1 tick code */
.markdownBody p code {
	font-weight: 500;
	border-spacing: 10px;
	position: relative;
	padding: .25rem;
	border: 1px solid #cacfd6;
	border-radius: 0.25rem;
}

.markdownBody p code.text-light {
	color: yellow !important;
}

.markdownBody p code.text-dark {
	color: rgb(214, 51, 132) !important;
}


/* ------------------ */
/* 3 tick code */
.markdownBody .codeblock-wrapper {
	position: relative;
	background-color: #2a2139;
}

.markdownBody .btn-copy {
	padding: 5px 10px;
}

.markdownBody .btn-lang {
	padding: 4px 8px;
}

.markdownBody .lang-name {
	position: absolute;
	left: 15px;
	top: -2px;
}

.markdownBody .copy-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}